.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: gray;
}

.dialog.active {
    color: black;
}

.messages {
    padding: 10px;
}

.message {

}